<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Crime Data</a>

**NOTE**: For the learners who are encountering issues with loading from .csv in DB2 on Firefox, you can download the .txt files and load the data with those:

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [ ]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [1]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://kfs48702:YDy22A37StyN3WCL@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB?security=SSL

'Connected: kfs48702@BLUDB'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [3]:
%%sql
select COUNT(PRIMARY_TYPE) 
from CHICAGO_CRIME_DATA

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [4]:
%%sql
select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME
from CENSUS_DATA
where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [5]:
%%sql
select CASE_NUMBER
from CHICAGO_CRIME_DATA
where DESCRIPTION like '%MINOR%'

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [6]:
%%sql
select PRIMARY_TYPE, DESCRIPTION
from CHICAGO_CRIME_DATA
where PRIMARY_TYPE = 'KIDNAPPING'

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [9]:
%%sql
select DISTINCT(PRIMARY_TYPE),LOCATION_DESCRIPTION
from CHICAGO_CRIME_DATA
where LOCATION_DESCRIPTION like 'SCHOOL%'

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score for each type of school.

In [18]:
%%sql
select "Elementary, Middle, or High School", SAFETY_SCORE, (select AVG(safety_score) from CHICAGO_PUBLIC_SCHOOLS) as AVG_SAFETY_SCORE
from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('ES', 99, 49),
 ('ES', 54, 49),
 ('ES', 61, 49),
 ('ES', 56, 49),
 ('HS', 49, 49),
 ('MS', 66, 49),
 ('HS', 88, 49),
 ('ES', 67, 49),
 ('HS', 70, 49),
 ('ES', 43, 49),
 ('ES', 99, 49),
 ('ES', 49, 49),
 ('ES', 73, 49),
 ('ES', 31, 49),
 ('ES', 28, 49),
 ('ES', 19, 49),
 ('ES', 37, 49),
 ('ES', 46, 49),
 ('HS', 52, 49),
 ('ES', 45, 49),
 ('ES', 81, 49),
 ('MS', 38, 49),
 ('ES', 23, 49),
 ('ES', 57, 49),
 ('ES', 48, 49),
 ('ES', 86, 49),
 ('ES', 31, 49),
 ('ES', 99, 49),
 ('ES', 59, 49),
 ('ES', 32, 49),
 ('ES', None, 49),
 ('ES', 33, 49),
 ('ES', 27, 49),
 ('ES', 36, 49),
 ('ES', 47, 49),
 ('ES', 87, 49),
 ('ES', None, 49),
 ('ES', 15, 49),
 ('ES', 48, 49),
 ('ES', 99, 49),
 ('HS', 38, 49),
 ('ES', 23, 49),
 ('HS', 38, 49),
 ('ES', 32, 49),
 ('ES', None, 49),
 ('ES', 75, 49),
 ('HS', 46, 49),
 ('ES', 36, 49),
 ('ES', 27, 49),
 ('ES', 50, 49),
 ('ES', 39, 49),
 ('ES', 45, 49),
 ('ES', None, 49),
 ('ES', 63, 49),
 ('ES', 27, 49),
 ('ES', 55, 49),
 ('HS', 41, 49),
 ('ES', 61, 49),
 ('ES', 51, 49),
 ('ES', 58, 49),
 ('HS', 48, 49),
 ('ES', 68, 49),
 ('ES', 54, 49),
 ('ES', 35, 49),
 ('ES', 26, 49),
 ('ES', 54, 49),
 ('HS', 59, 49),
 ('ES', 42, 49),
 ('ES', 44, 49),
 ('ES', 40, 49),
 ('ES', 32, 49),
 ('ES', 36, 49),
 ('ES', 53, 49),
 ('ES', 25, 49),
 ('HS', 26, 49),
 ('ES', 58, 49),
 ('ES', 16, 49),
 ('ES', 20, 49),
 ('ES', 55, 49),
 ('ES', 41, 49),
 ('ES', 24, 49),
 ('ES', 66, 49),
 ('HS', 58, 49),
 ('HS', 87, 49),
 ('HS', 32, 49),
 ('HS', 27, 49),
 ('ES', 78, 49),
 ('HS', 36, 49),
 ('ES', 66, 49),
 ('ES', 25, 49),
 ('ES', 36, 49),
 ('HS', 60, 49),
 ('ES', 59, 49),
 ('ES', 14, 49),
 ('ES', 45, 49),
 ('ES', 27, 49),
 ('ES', None, 49),
 ('ES', 52, 49),
 ('ES', None, 49),
 ('HS', 50, 49),
 ('ES', 39, 49),
 ('ES', 42, 49),
 ('ES', 30, 49),
 ('ES', 48, 49),
 ('HS', 43, 49),
 ('HS', None, 49),
 ('ES', 41, 49),
 ('ES', 47, 49),
 ('ES', None, 49),
 ('ES', 28, 49),
 ('ES', 34, 49),
 ('ES', None, 49),
 ('HS', None, 49),
 ('ES', 19, 49),
 ('ES', 46, 49),
 ('ES', 61, 49),
 ('ES', 46, 49),
 ('HS', 27, 49),
 ('ES', 99, 49),
 ('ES', 99, 49),
 ('ES', 95, 49),
 ('ES', 1, 49),
 ('ES', 33, 49),
 ('ES', 47, 49),
 ('ES', 38, 49),
 ('ES', 22, 49),
 ('ES', None, 49),
 ('ES', 50, 49),
 ('ES', 30, 49),
 ('ES', 77, 49),
 ('HS', 34, 49),
 ('ES', 27, 49),
 ('HS', 26, 49),
 ('ES', 44, 49),
 ('ES', 29, 49),
 ('ES', 44, 49),
 ('ES', 86, 49),
 ('ES', 51, 49),
 ('ES', 70, 49),
 ('ES', 31, 49),
 ('HS', 30, 49),
 ('ES', 99, 49),
 ('HS', 13, 49),
 ('ES', 60, 49),
 ('ES', 31, 49),
 ('ES', 30, 49),
 ('ES', None, 49),
 ('HS', 67, 49),
 ('ES', 71, 49),
 ('ES', 36, 49),
 ('ES', 42, 49),
 ('ES', 44, 49),
 ('MS', 60, 49),
 ('ES', 31, 49),
 ('ES', 53, 49),
 ('ES', None, 49),
 ('ES', 51, 49),
 ('ES', 29, 49),
 ('ES', 20, 49),
 ('ES', 35, 49),
 ('ES', 34, 49),
 ('ES', 11, 49),
 ('MS', 49, 49),
 ('ES', 23, 49),
 ('ES', 38, 49),
 ('ES', 37, 49),
 ('ES', 30, 49),
 ('ES', 46, 49),
 ('ES', 27, 49),
 ('ES', 87, 49),
 ('ES', 46, 49),
 ('ES', 48, 49),
 ('ES', None, 49),
 ('ES', 60, 49),
 ('ES', 86, 49),
 ('HS', 44, 49),
 ('ES', 16, 49),
 ('ES', None, 49),
 ('ES', 72, 49),
 ('HS', 70, 49),
 ('HS', 14, 49),
 ('ES', 65, 49),
 ('ES', 28, 49),
 ('ES', 61, 49),
 ('ES', 59, 49),
 ('ES', 49, 49),
 ('ES', 61, 49),
 ('ES', 76, 49),
 ('HS', 33, 49),
 ('ES', None, 49),
 ('ES', 43, 49),
 ('ES', 59, 49),
 ('ES', 39, 49),
 ('HS', 53, 49),
 ('ES', 25, 49),
 ('ES', 58, 49),
 ('HS', 46, 49),
 ('ES', 23, 49),
 ('HS', 74, 49),
 ('ES', 6, 49),
 ('ES', 44, 49),
 ('ES', 49, 49),
 ('ES', 35, 49),
 ('HS', 43, 49),
 ('ES', 64, 49),
 ('ES', 26, 49),
 ('HS', 42, 49),
 ('HS', 64, 49),
 ('ES', 78, 49),
 ('ES', 35, 49),
 ('ES', 28, 49),
 ('ES', 28, 49),
 ('ES', 68, 49),
 ('ES', 92, 49),
 ('ES', 29, 49),
 ('ES', 58, 49),
 ('ES', 43, 49),
 ('ES', 38, 49),
 ('ES', None, 49),
 ('ES', 41, 49),
 ('ES', 33, 49),
 ('ES', 45, 49),
 ('HS', None, 49),
 ('ES', 64, 49),
 ('HS', 31, 49),
 ('ES', 65, 49),
 ('ES', 28, 49),
 ('ES', 42, 49),
 ('HS', 29, 49),
 ('HS', 64, 49),
 ('ES', 49, 49),
 ('ES', 31, 49),
 ('HS', 58, 49),
 ('ES', 67, 49),
 ('ES', 39, 49),
 ('MS', 34, 49),
 ('ES', 57, 49),
 ('ES', 44, 49),
 ('ES', 17, 49),
 ('ES', None, 49),
 ('ES', 63, 49),
 ('HS', 57, 49),
 ('ES', 55, 49),
 ('ES', 71, 49),
 ('ES', 99, 49),
 ('ES', 99, 49),
 ('ES', 22, 49),
 ('ES', 39, 49),
 ('ES', 45, 49),
 ('ES', 32, 49),
 ('ES', 83, 49),
 ('ES', 30, 49),
 ('ES', 39, 49),
 ('ES', 38, 49),
 ('ES', None, 49),
 ('ES', 49, 49),
 ('ES', 67, 49),
 ('ES', 56, 49),
 ('ES', 42, 49),
 ('ES', 63, 49),
 ('ES', 44, 49),
 ('ES', 35, 49),
 ('ES', None, 49),
 ('ES', 38, 49),
 ('ES', 75, 49),
 ('ES', 60, 49),
 ('ES', 35, 49),
 ('ES', 59, 49),
 ('ES', 80, 49),
 ('ES', 52, 49),
 ('ES', 50, 49),
 ('ES', 87, 49),
 ('ES', 74, 49),
 ('ES', 32, 49),
 ('ES', 32, 49),
 ('ES', 42, 49),
 ('ES', 13, 49),
 ('HS', 53, 49),
 ('ES', 42, 49),
 ('ES', 65, 49),
 ('HS', 51, 49),
 ('ES', 51, 49),
 ('ES', 44, 49),
 ('ES', 33, 49),
 ('ES', 64, 49),
 ('ES', 74, 49),
 ('ES', 95, 49),
 ('ES', None, 49),
 ('ES', 72, 49),
 ('HS', 51, 49),
 ('HS', None, 49),
 ('ES', 44, 49),
 ('ES', 37, 49),
 ('ES', 60, 49),
 ('ES', 75, 49),
 ('ES', 48, 49),
 ('ES', 66, 49),
 ('ES', 56, 49),
 ('ES', 26, 49),
 ('ES', None, 49),
 ('ES', 60, 49),
 ('ES', 45, 49),
 ('ES', 71, 49),
 ('ES', 44, 49),
 ('ES', 61, 49),
 ('ES', 57, 49),
 ('ES', None, 49),
 ('ES', 50, 49),
 ('ES', 32, 49),
 ('ES', 57, 49),
 ('ES', 36, 49),
 ('ES', 58, 49),
 ('ES', 43, 49),
 ('ES', 37, 49),
 ('ES', 33, 49),
 ('ES', 62, 49),
 ('ES', 50, 49),
 ('ES', None, 49),
 ('ES', 67, 49),
 ('ES', 67, 49),
 ('ES', 31, 49),
 ('ES', 76, 49),
 ('HS', 32, 49),
 ('HS', 63, 49),
 ('HS', 64, 49),
 ('ES', 28, 49),
 ('ES', 99, 49),
 ('ES', 66, 49),
 ('ES', 54, 49),
 ('ES', None, 49),
 ('ES', None, 49),
 ('ES', None, 49),
 ('ES', 33, 49),
 ('ES', 79, 49),
 ('ES', 21, 49),
 ('HS', 65, 49),
 ('ES', 42, 49),
 ('ES', 45, 49),
 ('MS', 56, 49),
 ('ES', 57, 49),
 ('ES', 53, 49),
 ('ES', None, 49),
 ('ES', 42, 49),
 ('ES', 58, 49),
 ('ES', 50, 49),
 ('ES', 40, 49),
 ('ES', 5, 49),
 ('ES', 37, 49),
 ('ES', 59, 49),
 ('ES', 56, 49),
 ('ES', 38, 49),
 ('ES', 63, 49),
 ('HS', 41, 49),
 ('ES', 45, 49),
 ('ES', 50, 49),
 ('ES', 54, 49),
 ('ES', 60, 49),
 ('HS', 43, 49),
 ('HS', 41, 49),
 ('ES', 74, 49),
 ('ES', 87, 49),
 ('ES', 67, 49),
 ('ES', 15, 49),
 ('ES', 43, 49),
 ('ES', 40, 49),
 ('ES', 54, 49),
 ('ES', 99, 49),
 ('ES', None, 49),
 ('ES', 62, 49),
 ('ES', 55, 49),
 ('ES', 57, 49),
 ('ES', 53, 49),
 ('HS', 50, 49),
 ('ES', 37, 49),
 ('ES', 49, 49),
 ('ES', 27, 49),
 ('ES', 22, 49),
 ('ES', 35, 49),
 ('ES', 63, 49),
 ('HS', None, 49),
 ('ES', 15, 49),
 ('ES', 30, 49),
 ('ES', 64, 49),
 ('MS', 57, 49),
 ('HS', 40, 49),
 ('ES', 53, 49),
 ('ES', 28, 49),
 ('ES', 84, 49),
 ('ES', 31, 49),
 ('HS', 48, 49),
 ('ES', 31, 49),
 ('ES', None, 49),
 ('ES', 55, 49),
 ('ES', 48, 49),
 ('ES', 49, 49),
 ('ES', 43, 49),
 ('ES', 67, 49),
 ('HS', 52, 49),
 ('ES', 50, 49),
 ('ES', None, 49),
 ('HS', 17, 49),
 ('ES', 55, 49),
 ('HS', 48, 49),
 ('ES', 48, 49),
 ('ES', 36, 49),
 ('ES', 67, 49),
 ('HS', 42, 49),
 ('ES', 67, 49),
 ('HS', 99, 49),
 ('HS', 28, 49),
 ('HS', 99, 49),
 ('MS', 34, 49),
 ('ES', 99, 49),
 ('HS', 56, 49),
 ('ES', 70, 49),
 ('ES', 30, 49),
 ('ES', 21, 49),
 ('ES', 99, 49),
 ('ES', 55, 49),
 ('HS', None, 49),
 ('ES', 18, 49),
 ('ES', 35, 49),
 ('ES', 67, 49),
 ('ES', None, 49),
 ('ES', 28, 49),
 ('ES', None, 49),
 ('ES', 45, 49),
 ('ES', 51, 49),
 ('HS', 29, 49),
 ('ES', 36, 49),
 ('HS', 29, 49),
 ('ES', 28, 49),
 ('MS', 46, 49),
 ('ES', 60, 49),
 ('ES', None, 49),
 ('ES', 81, 49),
 ('ES', 36, 49),
 ('ES', 66, 49),
 ('ES', 33, 49),
 ('HS', 53, 49),
 ('ES', 43, 49),
 ('ES', 62, 49),
 ('ES', 68, 49),
 ('ES', 38, 49),
 ('ES', None, 49),
 ('ES', 46, 49),
 ('HS', 90, 49),
 ('ES', 48, 49),
 ('ES', 59, 49),
 ('ES', 29, 49),
 ('ES', 44, 49),
 ('HS', 43, 49),
 ('ES', 42, 49),
 ('HS', 51, 49),
 ('ES', 68, 49),
 ('ES', 37, 49),
 ('ES', 46, 49),
 ('ES', 63, 49),
 ('ES', 19, 49),
 ('ES', 79, 49),
 ('HS', 66, 49),
 ('ES', 48, 49),
 ('HS', 44, 49),
 ('ES', 55, 49),
 ('HS', 30, 49),
 ('ES', 31, 49),
 ('ES', 31, 49),
 ('ES', 36, 49),
 ('ES', 37, 49),
 ('ES', 52, 49),
 ('ES', 64, 49),
 ('ES', 64, 49),
 ('ES', 55, 49),
 ('ES', 34, 49),
 ('ES', 99, 49),
 ('ES', 35, 49),
 ('ES', None, 49),
 ('ES', 57, 49),
 ('ES', 30, 49),
 ('ES', 35, 49),
 ('ES', None, 49),
 ('ES', None, 49),
 ('ES', 17, 49),
 ('ES', 84, 49),
 ('ES', None, 49),
 ('HS', None, 49),
 ('ES', 35, 49),
 ('HS', 70, 49),
 ('ES', 99, 49),
 ('ES', 39, 49),
 ('ES', 72, 49),
 ('HS', 58, 49),
 ('ES', 78, 49),
 ('ES', None, 49),
 ('ES', 99, 49),
 ('ES', 48, 49),
 ('HS', 45, 49),
 ('ES', 42, 49),
 ('ES', 41, 49),
 ('HS', 42, 49),
 ('ES', 46, 49),
 ('ES', 91, 49),
 ('ES', 33, 49),
 ('ES', 34, 49),
 ('ES', 72, 49),
 ('ES', 67, 49),
 ('ES', None, 49),
 ('ES', 85, 49),
 ('HS', 36, 49),
 ('MS', 39, 49),
 ('ES', 56, 49),
 ('HS', 50, 49),
 ('ES', None, 49),
 ('ES', 50, 49),
 ('ES', 62, 49),
 ('HS', 42, 49),
 ('ES', None, 49),
 ('ES', 71, 49),
 ('HS', 98, 49),
 ('ES', 25, 49),
 ('ES', 29, 49),
 ('ES', None, 49),
 ('ES', 55, 49),
 ('ES', 43, 49),
 ('HS', 51, 49),
 ('ES', 32, 49),
 ('HS', None, 49),
 ('ES', 22, 49),
 ('ES', 29, 49),
 ('ES', 23, 49),
 ('ES', 67, 49),
 ('HS', 95, 49),
 ('ES', 99, 49),
 ('ES', 69, 49),
 ('ES', 18, 49),
 ('ES', 49, 49),
 ('ES', None, 49),
 ('ES', 70, 49),
 ('ES', 48, 49),
 ('ES', 47, 49),
 ('ES', 67, 49),
 ('ES', 56, 49),
 ('ES', None, 49),
 ('ES', 36, 49),
 ('ES', 47, 49),
 ('HS', 61, 49),
 ('ES', 90, 49),
 ('ES', 69, 49),
 ('ES', 34, 49),
 ('ES', 40, 49),
 ('HS', 20, 49),
 ('ES', 52, 49),
 ('ES', 64, 49),
 ('HS', 92, 49),
 ('ES', 27, 49),
 ('ES', 78, 49),
 ('ES', 57, 49),
 ('ES', 52, 49),
 ('HS', 22, 49),
 ('ES', None, 49),
 ('MS', 49, 49),
 ('ES', 32, 49),
 ('ES', 13, 49),
 ('ES', 41, 49),
 ('ES', 70, 49),
 ('HS', 51, 49)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [42]:
%%sql
select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
from CENSUS_DATA
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc 
limit 5

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [103]:
%%sql
select COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) as Frequency
from CHICAGO_CRIME_DATA
group by COMMUNITY_AREA_NUMBER
order by Frequency desc

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[(25, 43),
 (23, 22),
 (68, 21),
 (28, 16),
 (29, 16),
 (8, 15),
 (71, 14),
 (24, 13),
 (66, 12),
 (67, 12),
 (6, 11),
 (49, 11),
 (69, 11),
 (26, 10),
 (58, 10),
 (61, 10),
 (22, 9),
 (31, 9),
 (43, 9),
 (46, 9),
 (16, 8),
 (19, 8),
 (27, 8),
 (30, 8),
 (38, 8),
 (42, 8),
 (44, 8),
 (70, 8),
 (2, 7),
 (32, 7),
 (63, 7),
 (1, 6),
 (21, 6),
 (53, 6),
 (7, 5),
 (14, 5),
 (15, 5),
 (35, 5),
 (48, 5),
 (3, 4),
 (5, 4),
 (39, 4),
 (45, 4),
 (51, 4),
 (62, 4),
 (72, 4),
 (76, 4),
 (4, 3),
 (10, 3),
 (17, 3),
 (20, 3),
 (50, 3),
 (65, 3),
 (73, 3),
 (11, 2),
 (18, 2),
 (37, 2),
 (41, 2),
 (52, 2),
 (54, 2),
 (56, 2),
 (59, 2),
 (64, 2),
 (77, 2),
 (12, 1),
 (33, 1),
 (47, 1),
 (55, 1),
 (60, 1),
 (75, 1),
 (None, 0)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [45]:
%%sql
select COMMUNITY_AREA_NAME, (select max(HARDSHIP_INDEX) from CENSUS_DATA) as HIGHEST_HARDSHIP_INDEX
from CENSUS_DATA
order by HIGHEST_HARDSHIP_INDEX

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('Rogers Park', 98),
 ('West Ridge', 98),
 ('Uptown', 98),
 ('Lincoln Square', 98),
 ('North Center', 98),
 ('Lake View', 98),
 ('Lincoln Park', 98),
 ('Near North Side', 98),
 ('Edison Park', 98),
 ('Norwood Park', 98),
 ('Jefferson Park', 98),
 ('Forest Glen', 98),
 ('North Park', 98),
 ('Albany Park', 98),
 ('Portage Park', 98),
 ('Irving Park', 98),
 ('Dunning', 98),
 ('Montclaire', 98),
 ('Belmont Cragin', 98),
 ('Hermosa', 98),
 ('Avondale', 98),
 ('Logan Square', 98),
 ('Humboldt park', 98),
 ('West Town', 98),
 ('Austin', 98),
 ('West Garfield Park', 98),
 ('East Garfield Park', 98),
 ('Near West Side', 98),
 ('North Lawndale', 98),
 ('South Lawndale', 98),
 ('Lower West Side', 98),
 ('Loop', 98),
 ('Near South Side', 98),
 ('Armour Square', 98),
 ('Douglas', 98),
 ('Oakland', 98),
 ('Fuller Park', 98),
 ('Grand Boulevard', 98),
 ('Kenwood', 98),
 ('Washington Park', 98),
 ('Hyde Park', 98),
 ('Woodlawn', 98),
 ('South Shore', 98),
 ('Chatham', 98),
 ('Avalon Park', 98),
 ('South Chicago', 98),
 ('Burnside', 98),
 ('Calumet Heights', 98),
 ('Roseland', 98),
 ('Pullman', 98),
 ('South Deering', 98),
 ('East Side', 98),
 ('West Pullman', 98),
 ('Riverdale', 98),
 ('Hegewisch', 98),
 ('Garfield Ridge', 98),
 ('Archer Heights', 98),
 ('Brighton Park', 98),
 ('McKinley Park', 98),
 ('Bridgeport', 98),
 ('New City', 98),
 ('West Elsdon', 98),
 ('Gage Park', 98),
 ('Clearing', 98),
 ('West Lawn', 98),
 ('Chicago Lawn', 98),
 ('West Englewood', 98),
 ('Englewood', 98),
 ('Greater Grand Crossing', 98),
 ('Ashburn', 98),
 ('Auburn Gresham', 98),
 ('Beverly', 98),
 ('Washington Height', 98),
 ('Mount Greenwood', 98),
 ('Morgan Park', 98),
 ("O'Hare", 98),
 ('Edgewater', 98),
 ('CHICAGO', 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [67]:
%%sql
select COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) as Frequency, (select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NUMBER=25)
from CHICAGO_CRIME_DATA
group by COMMUNITY_AREA_NUMBER
order by Frequency desc
LIMIT 1

 * ibm_db_sa://kfs48702:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[(25, 43, 'Austin')]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-11-17 | 2.6     | Lakshmi           | Updated library                                |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>